<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Users</title>
</head>
<body>
	<h1>Users</h1>
	<form method="get">

		<select name="roleId" onchange="this.form.submit()">
			<option value="">Select role</option>
			<th:block th:each="role : ${roles}">
				<option th:value="${role.id}" th:text="${role.roleName}"
					th:selected="${roleId == role.id}"></option>
			</th:block>
		</select>
	</form>
	<div th:if="${not #lists.isEmpty(users)}">
		<table>
			<tr>
				<th>Id</th>
				<th>First Name</th>
				<th>Last Name</th>
				<th>Username</th>
			</tr>
			<th:block th:each="user : ${users}">
				<tr>
					<td th:text="${user.id}"></td>
					<td th:text="${user.firstName}"></td>
					<td th:text="${user.lastName}"></td>
					<td th:text="${user.username}"></td>
				</tr>
			</th:block>
		</table>
	</div>
</body>
</html>
