<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head"></head>
<body class="bg-dark">
	<nav th:replace="fragments/nav :: nav"></nav>
	<div class="container-fluid">
		<div class="card bg-light">
			<div class="card-header">
				<h1>Login Successful!</h1>
			</div>
			<div class="card-body">
				<p>
					Welcome, <strong th:if="${loggedInUser != null}" th:text="${loggedInUser.username}"></strong>
					<strong th:unless="${loggedInUser != null}">No user logged in</strong>!
				</p>
				<p>Thank you for logging in.</p>
			</div>
		</div>
	</div>
	<footer th:replace="fragments/footer :: footer"></footer>
</body>
</html>


