<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head">
<body class="bg-dark">
	<nav th:replace="fragments/nav :: nav"></nav>
	<div class="container-fluid">
		<div class="card bg-light">
			<div class="card-header">
				<a>Čeku saraksts</a>
				<a>|</a>
				<div class="dropdown" style="display: inline;">
				    <a class="dropdown-toggle" href="#" role="button" id="uploadDropdown" data-bs-toggle="dropdown" aria-expanded="false">Augšupielādēt</a>
				    <ul class="dropdown-menu" aria-labelledby="uploadDropdown">
				      <li><a class="dropdown-item" href="upload-circlek-csv-semi">Circle K CSV (;)</a></li>
				      <li><a class="dropdown-item" href="upload-circlek-csv-comma">Circle K CSV (,)</a></li>
				    </ul>
				</div>
				<form method="post">
					<div class="input-group" style="max-width: 400px;">
						<input type="text" name="keyword" class="form-control" placeholder="Meklēt..." th:value="${keyword}">
						<input type="month" name="date" class="form-control" th:value="${date}">
						<button class="btn btn-outline-secondary" type="submit">
							<i class="bi bi-search"></i>
						</button>
					</div>
				</form>
			</div>
			<div class="card-body">
				<nav>
					<ul th:if="${pageCount}" class="pagination">
						<li th:class="${page == 1} ? 'page-item disabled' : 'page-item'">
							<a class="page-link" th:href="@{'?page=' + ${page - 1}}">◄</a>
						</li>
						<li th:each="i : ${#numbers.sequence(1, pageCount)}"
							th:class="${i == page} ? 'page-item active' : 'page-item'">
							<a class="page-link" th:href="@{'?page=' + ${i}}">[[${i}]]</a>
						</li>
						<li
							th:class="${page == pageCount} ? 'page-item disabled' : 'page-item'">
							<a class="page-link" th:href="@{' ?page=' + ${page + 1}}">►</a>
						</li>
					</ul>
				</nav>
				<table class="table table-striped table-light">
					<thead>
						<tr>
							<th>ID</th>
							<th>Pavadzīme</th>
							<th>Čeks</th>
							<th>Automobilis</th>
							<th>Degviela</th>
							<th>Daudzums</th>
							<th>Cena</th>
							<th>Datums / laiks</th>
							<th colspan="2">Kontrole</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="receipt : ${receipts}">
							<td th:text="${receipt.id}"></td>
							<td th:text="${receipt.invoice != null ? receipt.invoice.number : ''}"></td>
							<td th:text="${receipt.number}"></td>
							<td th:text="${receipt.usedByVehicle != null ? receipt.usedByVehicle.number : ''}"></td>
							<td th:text="${receipt.fuel != null ? receipt.fuel.name : ''}"></td>
							<td th:text="${receipt.volume}"></td>
							<td th:text="${receipt.price}"></td>
							<td th:text="${receipt.receiptDateTime}"></td>
							<td>
								<a class="btn btn-success" th:href="@{receipt-edit-{id}?page={pg}(id=${receipt.id},pg=${page})}">Rediģēt</a>
								<a class="btn btn-danger" href="#" th:onclick="'deleteItem(\'' + ${receipt.id} + '\', \'' + @{receipt-delete-{id}?page={pg}(id=${receipt.id},pg=${page})} + '\')'">Dzēst</a>
                        	</td>
							
							<!-- <td>
								<ul>
									<li th:if="${user.roles != null}"
										th:each="role : ${user.roles}"><span
										th:text="${role.roleName}"></span></li>
								</ul>
							</td> -->
						</tr>
					</tbody>
				</table>

			</div>
		</div>
	</div>
	<footer th:replace="fragments/footer :: footer"></footer>
</body>



 <script>
     function deleteItem(itemId, deleteUrl) {
         var confirmDelete = window.confirm("Tiešām izdzēst?");
         if (confirmDelete) {
        	 window.location.href = deleteUrl;
         }
     }
 </script>


</html>